:root {
  --brand-color: #2196f3;
  --basc-text-color: #757575;
  --black-color: #212121;
  --wite-color: #ffffff;
  --light-black-color: #2f303a;
  --logo-text-color: #000000;
  --secondary-fill-color: #f5f4fa;
  --background-portfolio-color: #e5e5e5;
  --secondary-text-color: rgba(255, 255, 255, 0.6);
  --button-color: #188ce8;
  --button-portfolio-fill: #f5f4fa;
  --borders-line: #ececec;
  --border-line-img: #eeeeee;
  --card-set-get: 30px;
  --img-overlay-color: rgba(47, 48, 58, 0.4);
  --hero-bg-color: #c4c4c4;
  --border-klient-color: rgba(175, 177, 184, 1);
  --link-color-in-footer: rgba(255, 255, 255, 0.1);
  --btn-close-border-color: rgba(0, 0, 0, 0.1);
  --label-color: rgba(47, 48, 58, 0.8);
  --card-overley: rgba(33, 150, 243, 0.9);
  --placeholder: rgba(117, 117, 117, 0.5);
  --label-footer-color: rgba(255, 255, 255, 0.3);
  --label-ftr-color: rgba(255, 255, 255, 0.6);
  --input-border-color: rgba(33, 33, 33, 0.2);
}

/*   reset  */
body {
  /* padding-top: 80px;*/
  margin: 0px;
  color: var(--basc-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul,
ol {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

img {
  display: block;
}

.list {
  list-style-type: none;
}
.link {
  text-decoration: none;
}
/* Скрытый заголовок */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.wrapper {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/*  header start */

/* current */
.navigation__link.current {
  color: var(--brand-color);
}

/* logo */
.logo,
.footer-logo {
  color: var(--brand-color);
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
}

.logo {
  margin-right: 93px;
}

.logo__text {
  color: var(--logo-text-color);
  font-family: Raleway, sans-serif;
}

/* link*/

.site-nav {
  display: flex;
  align-items: center;

  margin-right: auto;
}

.navigation {
  display: flex;
}

.header {
  /* position: fixed;
  width: 100%;
  z-index: 100;*/
  top: 0;
  left: 0;

  padding-top: 32px;
  padding-bottom: 32px;
  border-bottom: 1px solid #ececec;
  background-color: #ffffff;
}

.container-header {
  display: flex;
  align-items: center;
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}
.navigation__item {
  position: relative;
}
.Studio {
  position: relative;
}
.Studio::after {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translatey(40px);
  content: "";
  width: 48px;
  height: 4px;
  border-radius: 4px;
  background-color: var(--brand-color);
}
.connection__link {
  display: flex;
  margin-left: auto;
  align-items: center;
  color: var(--basc-text-color);
}

.connection__item {
  margin-left: 50px;
}

.connection__icon {
  fill: var(--basc-text-color);
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*.connection-link .connection-icon,*/
.connection__link:hover .connection__icon {
  fill: var(--brand-color);
}

.imail {
  width: 16px;
  height: 12px;
}

.smartphone {
  width: 10px;
  height: 16px;
}

.navigation__link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--black-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.connection {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  margin-left: auto;
  align-items: center;
  color: inherit;
  list-style-type: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.site-nav {
  display: flex;
  align-items: center;
}

.navigation__link:hover,
.navigation__link:focus,
.navigation__link:active,
.connection__link:hover,
.connection__link:focus {
  color: var(--brand-color);
}

/*header finish */

/*hero start*/

.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--light-black-color);
}

.hero__title {
  margin-top: 0px;
  margin-bottom: 30px;

  color: var(--wite-color);
  font-style: normal;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
}

.background {
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--hero-bg-color);
  background-image: linear-gradient(
      var(--img-overlay-color),
      var(--img-overlay-color)
    ),
    url("../images/background-Img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
/*button*/
.button {
  font-family: inherit;
  color: var(--wite-color);
  background-color: var(--brand-color);
  border: var(--brand-color);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  display: inline-block;
  border-radius: 4px;
  padding: 10px 20px;
  min-width: 200px;
  text-align: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover {
  background-color: var(--button-color);
}

/* backdrop */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--wite-color);
  border-radius: 4px;
}

.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;
  padding: 3px 4px;
  border-color: var(--btn-close-border-color);
  background-color: var(--wite-color);
  border-radius: 50%;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close {
  width: 11px;
  height: 11px;
}

/* form start */

.form {
  width: 528px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
}

.form__title {
  margin-bottom: 12px;
  color: var(--black-color);
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  text-align: center;
}

.form__field:hover,
.form__field:focus,
.btn-close:focus,
.btn-close:hover {
  fill: var(--brand-color);
}

.form__input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid var(--input-border-color);
  background-color: var(--wite-color);
  border-radius: 4px;
  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__label {
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.01em;
  text-align: left;
}

.form__image {
  position: absolute;
  transform: translatey(100%);
  left: 12px;
  bottom: 50%;

  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__field {
  position: relative;
  margin-bottom: 10px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:focus + .form__image {
  fill: var(--brand-color);
}
.form__input-koment:hover,
.form__input-koment:focus,
.form__input:focus,
.form__input:hover {
  border-color: var(--brand-color);
  background-color: var(--wite-color);
}

textarea {
  resize: none;
}

.form-item input {
  margin: 0;
  padding: 11;
}
.form-item label {
  margin-bottom: 4px;
}
.form__item-koment .form__input-koment::placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.14;
  justify-content: start;
}
.form__input-koment {
  outline: none;
  cursor: pointer;
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.14;
  letter-spacing: 0.01em;
  text-align: left;
  color: var(--placeholder);
  transition: border-color cubic-bezier(0.4, 0, 0.2, 1);
}

.chek__email {
  margin-left: 2px;
  text-decoration: underline;
  color: var(--brand-color);
}

.chek {
  position: relative;
  display: flex;
  justify-content: right;
  align-items: center;
  margin-bottom: 30px;
}
.chek .form__label {
  margin-bottom: 4px;
}

.check__icon {
  position: absolute;
  top: 0;
  left: 10px;
  width: 16px;
  height: 16px;
  border: 2px solid var(--black-color);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.chek__input:checked + .check__icon {
  background-color: var(--brand-color);
  background-image: url("../images/icon-check.svg");
  background-size: contain;
  background-origin: border-box;
  border-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
}

.chek__input:hover + .check__icon {
  border-color: var(--brand-color);
}
/*.form-label-check {
  position: relative;
  display: flex;
  align-items: center;
}*/
.check__label {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-right: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  text-align: left;
}
.form-button {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;

  padding: 10px 56px;
  margin-top: 30px;
  color: var(--wite-color);
  background-color: var(--brand-color);
  border: var(--brand-color);
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  text-align: center;
}

/* hero finish */

/* publicity start*/

.publicity__caption {
  margin-top: 0px;
  margin-bottom: 10px;
  color: var(--black-color);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.publicity__text {
  color: var(--basc-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  margin-top: 0px;
  box-sizing: border-box;
}

.publicity-list .publicity__item {
  flex-basis: calc(100%-4 * 30 / 4);
}

.publicity__img {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 120px;
  background-color: var(--button-portfolio-fill);
  margin-bottom: 30px;
}

.publicity-list {
  display: flex;

  justify-content: space-between;
}

.publicity-list .publicity__item {
  display: inline-block;
  width: 270px;
}

.publicity__item:not(:last-child) {
  margin-right: 30px;
}
.publicity__item {
  width: 270px;
}

.publicity .publicity-list {
  margin-left: auto;
  margin-right: auto;
}

.publicity__icon {
  width: 70px;
  height: 70px;
}
/* publicity finish */

/*  works start */

.works-images {
  display: flex;
  justify-content: space-between;
}

.works {
  padding-top: 0px;
}
.work__text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 27px 85px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  color: var(--wite-color);
  background-color: var(--label-color);
}

.work__item {
  position: relative;
  flex-basis: calc(100%-3 * 30px / 3);
}

/* works finish */

.works__title,
.klients__title,
.team__title {
  margin-top: 0px;
  margin-bottom: 50px;
  color: var(--black-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
/* team  start*/
.team {
  background-color: var(--secondary-fill-color);
}

.team-list {
  display: flex;
  flex-wrap: wrap;
}

.team__card {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--wite-color);
  flex-basis: calc(100%-4 * 30px) / 4;
}

.team__img {
  margin-top: 0px;
}

.team__meta {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__card:not(:nth-child(4n)) {
  margin-right: 30px;
}
.team__card:not(:nth-last-child(-n + 4)) {
  margin-bottom: 30px;
}

.team__name {
  margin-top: 0px;
  margin-bottom: 10px;
  color: var(--black-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.contacts {
  display: flex;
  justify-content: center;
}

.team__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}

.contacts__item:not(:last-child) {
  margin-right: 8px;
}

.contacts__link {
  display: flex;
  width: 44px;
  height: 44px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 50px;
  color: var(--border-klient-color);
  justify-content: center;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__imail {
  display: flex;
  width: 20px;
  height: 20px;
  fill: currentColor;
}
.contacts__link:focus,
.contacts__link:hover {
  color: var(--wite-color);
  background-color: var(--brand-color);
  border-radius: 50%;
}
/* tean finish */

/* klients start */

.vip {
  display: flex;
}
.vip__logo {
  width: 170px;
  height: 92px;
}

.vip__link {
  padding: 16px 32px;
  display: flex;
  width: 100%;
  height: 100%;
  border: 1px solid var(--border-klient-color);
  border-radius: 4px;
  background-position: center;
  color: var(--border-klient-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.vip__logo:not(:last-child) {
  margin-right: 30px;
}

.vip__link:hover,
.vip__link:focus {
  border: 1px solid var(--brand-color);
  color: var(--brand-color);
}

.vip__imail {
  display: flex;
  width: 106px;
  height: 60px;
  fill: currentColor;
  background-repeat: no-repeat;
  background-size: contain;
}

/* klients finish */

/* footer start*/

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--light-black-color);
  color: var(--wite-color);
}

.address {
  font-style: normal;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
}
.footer-brand {
  color: var(--wite-color);
}
.relations {
  display: flex;
  align-items: baseline;
}
.footer-relations {
  margin-right: 70px;
}

/* footer-form start */

.blank__title,
.footer-headline {
  color: var(--wite-color);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: left;
  margin-bottom: 20px;
}
.address__link {
  color: var(--secondary-text-color);
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form {
  display: flex;
  text-align: bottom;
  align-items: flex-end;
}

.blank__icon {
  position: absolute;
  top: 0;
  right: 28px;
  transform: translateY(50%);
  width: 24px;
  height: 24px;
  fill: var(--wite-color);
}

.blank__img {
  fill: var(--wite-color);
  background-size: contain;
}

.blank {
  margin-right: 12px;
}

.blank__label {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--label-ftr-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  text-align: left;
}

.blank__wrapper {
  position: relative;
}

.blank__input {
  padding-left: 16px;
  width: 358px;
  height: 50px;
  border: 1px solid var(--label-footer-color);
  color: var(--wite-color);
  border-radius: 4px;
  background-color: var(--light-black-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.blank__input:not(:placeholder-shown) + .blank__label,
.blank__input:focus + .blank__label {
  transform: translatey(-220%);
}

.blank__button {
  position: relative;
  padding: 10px 28px;
  width: 200px;
  height: 50px;
  background-color: var(--brand-color);
  border: 1px solid var(--brand-color);
  border-radius: 4px;
  color: var(--wite-color);
  text-align: left;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.footer-connection {
  margin-right: 94px;
}

.reference__link:not(:last-child) {
  margin-right: 10px;
}

.reference {
  display: flex;
  margin-top: 20px;
}

.address__map {
  color: var(--wite-color);
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__map:focus,
.address__map:hover,
.address__link:hover,
.address__link:focus {
  color: var(--brand-color);
}
.reference__imail {
  display: flex;
  background-position: center;
  width: 44px;
  height: 44px;
  cursor: pointer;
  border: 1px solid var(--link-color-in-footer);
  border-radius: 50%;

  background-color: var(--link-color-in-footer);
  justify-content: center;
  align-items: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.reference__svg {
  display: flex;
  width: 20px;
  height: 20px;
  fill: var(--wite-color);
}

.reference__imail:hover,
.reference__imail:focus {
  background-color: var(--brand-color);
  border-radius: 50%;
}

/*footer finish */

/* portfolio carts */

.portfolio {
  position: relative;
}
.portfolio::after {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translatey(40px);
  content: "";
  width: 77px;
  height: 4px;
  border-radius: 4px;
  background-color: var(--brand-color);
}

.cards__title {
  color: var(--black-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.cards__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: var(--basc-text-color);
}

.cards__article {
  padding: 20px 24px;
  border-left: 1px solid var(--border-line-img);
  border-bottom: 1px solid var(--border-line-img);
  border-right: 1px solid var(--border-line-img);
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

.cards > .cards__item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.cards > .cards__item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.cards > .cards__item {
  flex-basis: calc(100%-3 * 30) / 3;
}

/* buttons */

.buttons__buttom {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-block;
  border: 1px solid #eeeeee;
  border-radius: 4px;
  padding: 6px 22px;
  background-color: var(--button-portfolio-fill);
  color: var(--black-color);
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}
.buttons__buttom:focus,
.buttons__buttom:hover {
  background-color: var(--brand-color);
  border: var(--brand-color);
  color: var(--wite-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.buttons .buttons__item + .buttons__item {
  margin-left: 8px;
}

.cards__item {
  position: relative;
}
.cards__imail {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.box:hover,
.box:focus,
.card-imail:hover,
.card-imail:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transform: translateY(0);
}
.cards__item:hover .cards__overlay,
.cards__item:focus .cards__overlay {
  transform: translateY(0);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.cards__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.cards__box {
  position: relative;
  overflow: hidden;
}
.cards__par {
  width: 370px;
  height: 294px;
  padding: 63px 24px;
  text-align: left;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.55;
  color: var(--wite-color);
  background-color: var(--card-overley);
}
