
@import "./utils/utils.scss";
@import "./utils/variables";
@import "./components/header";
@import "./components/navigation";
@import "./components/logo";
@import "./components/connection";
@import "./components/hero";
@import './components/backdrop';
@import "./components/modal";
@import "./components/check";
@import "./components/publicity";
@import "./components/works";
@import "./components/team";
@import "./components/contacts";
@import "./components/clients";
@import "./components/footer";
@import "./components/address";
@import "./components/footer-logo";
@import "./components/footer-connection";
@import "./components/footer-form";
//@import "./components/portfolio";
@import "./portfolio.scss/filter";
@import "./portfolio.scss/portfolio";
@import './portfolio.scss/portfolio-cards'