.contacts {
  display: flex;
  justify-content: center;

  &__item:not(:last-child) {
    margin-right: 8px;
  }

  &__link {
    display: flex;
    width: 44px;
    height: 44px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 50px;
    color: $color-client-accent;
    justify-content: center;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__imail {
    display: flex;
    width: 20px;
    height: 20px;
    fill: currentColor;
  }
  &__link:focus,
  &__link:hover {
    color: $color-bcg-site;
    background-color: $color-brand;   
    border-radius: 50%;
  }
}
