.buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

  .buttons__buttom {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-block;
    border: 1px solid $color-cards-border;
    border-radius: 4px;
    padding: 6px 22px;
    background-color: $color-portfolio-button;
    color: $color-title-text;
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
  }

  .buttons__buttom:focus,
  .buttons__buttom:hover {
    background-color: $color-brand;
    border: $color-brand;
    color: $color-bcg-site;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  .buttons .buttons__item + .buttons__item {
    margin-left: 8px;
  }

