.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $color-secondary-bcg-site;
  color: $color-bcg-site;

  &-logo {
    display: block;
    margin-bottom: 20px;
  }

  &-brand {
    color: $color-bcg-site;
  }

  &__relations {
    margin-right: 70px;
  }

  &-form {
    display: flex;
    text-align: bottom;
    align-items: flex-end;
  }

  &-connection {
    margin-right: 94px;
  }
}
.relations {
  display: flex;
  align-items: baseline;
}
