.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: map-get($colors, 'secondary-bcg-site');
  color: map-get($colors, 'bcg-site');

  &-logo {
    display: block;
    margin-bottom: 20px;
  }

  &-brand {
    color: map-get($colors, 'bcg-site');
  }

  &__relations {
    margin-right: 70px;
  }

  &-form {
    display: flex;
    text-align: bottom;
    align-items: flex-end;
  }

  &-connection {
    margin-right: 94px;
  }
}
.relations {
  display: flex;
  align-items: baseline;
}
