.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: $color-secondary-bcg-site;

  &__title {
    margin-top: 0px;
    margin-bottom: 30px;

    color: $color-bcg-site;
    font-style: normal;
    text-transform: uppercase;
    font-weight: $h1-font-weight;
    font-size: $h1-font-size;
    line-height: 1.36;
    letter-spacing: 0.06em;
  }
}

.background {
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: $color-hero-bcg;
  background-image: linear-gradient(
      $color-hero-transparent-blackout,
      $color-hero-transparent-blackout
    ),
    url("../images/background-Img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
/*button*/
.button {
  font-family: inherit;
  color: $color-bcg-site;
  background-color: $color-brand;
  border: $color-brand;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  display: inline-block;
  border-radius: 4px;
  padding: 10px 20px;
  min-width: 200px;
  text-align: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-color: $color-button;
  }
}
