
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: $color-backdrop-bcg;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
  visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop .is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }


.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-color: $color-bcg-site;
  border-radius: 4px;
}

.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 3px 4px;
  border-color: $color-button-close-border;
  background-color: $color-bcg-site;
  border-radius: 50%;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close {
  width: 11px;
  height: 11px;
}

.btn-close:hover,
.btn-close:focus {
  fill: $color-brand;
}

/* form start */

.form {
  width: 528px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  background-color: aquamarine;
}

  .form__title {
    margin-bottom: 12px;
    color: $color-title-text;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.15;
    text-align: center;
  }

  .form__input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    width: 100%;
    height: 40px;
    padding-left: 42px;
    border: 1px solid $color-input-border;
    background-color: $color-bcg-site;
    border-radius: 4px;
    cursor: pointer;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .form__label {
    margin-bottom: 4px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.01em;
    text-align: left;
  }

  .form__image {
    position: absolute;
    transform: translatey(100%);
    left: 12px;
    bottom: 50%;

    width: 18px;
    height: 18px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .form__field {
    position: relative;
    margin-bottom: 10px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .form__input:focus + &__image {
    fill: $color-brand;
  }
  .form__input-koment:hover,
  .form__input-koment:focus,
  .form__input:focus,
  .form__input:hover {
    border-color: $color-brand;
    background-color: $color-bcg-site;
  }

  .form__field:hover,
  .form__field:focus,
  .btn-close:focus,
  .btn-close:hover {
    fill: $color-brand;
  }

  .form-item input {
    margin: 0;
    padding: 11;
  }

  .form-item label {
    margin-bottom: 4px;
  }

  .form__item-koment &__input-koment::placeholder {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.14;
    justify-content: start;
  }

  .form__input-koment {
    outline: none;
    cursor: pointer;
    width: 448px;
    height: 120px;
    border: 1px solid $color-input-border;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.14;
    letter-spacing: 0.01em;
    text-align: left;
    color: $color-placeholder-text;
    transition: border-color cubic-bezier(0.4, 0, 0.2, 1);
  }

  .form-button {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;

    padding: 10px 56px;
    margin-top: 30px;
    color: $color-bcg-site;
    background-color: $color-brand;
    border: $color-brand;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.88;
    text-align: center;
  }


textarea {
  resize: none;
}
