.site-nav {
  display: flex;
  align-items: center;

  margin-right: auto;
}

.navigation {
  display: flex;

  &__item {
    position: relative;
  }

  &__item:not(:last-child) {
    margin-right: 50px;
  }

  &__link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: $title-text-color;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

.navigation__link:hover,
.navigation__link:focus,
.navigation__link:active,
.connection__link:hover,
.connection__link:focus {
  color: $brand-color;
}

.Studio {
  position: relative;

  &::after {
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translatey(40px);
    content: "";
    width: 48px;
    height: 4px;
    border-radius: 4px;
    background-color: $brand-color;
  }
}
