.publicity .publicity-list {
  margin-left: auto;
  margin-right: auto;
}

.publicity__caption {
  margin-top: 0px;
  margin-bottom: 10px;
  color: $title-text-color;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.publicity__text {
  color: $basic-text-color;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  margin-top: 0px;
  box-sizing: border-box;
}

.publicity-list .publicity__item {
  flex-basis: calc(100%-4 * 30 / 4);
}

.publicity__img {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 120px;
  background-color: $team-bcg-color;
  margin-bottom: 30px;
}

.publicity-list {
  display: flex;

  justify-content: space-between;
}

.publicity-list .publicity__item {
  display: inline-block;
  width: 270px;
}
.publicity__item {
  width: 270px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.publicity__icon {
  width: 70px;
  height: 70px;
}
/* publicity finish */
