.works {
  padding-top: 0px;

  &__text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 27px 85px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    text-align: center;
    color: getColor('bcg-site');
    background-color: getColor('works-transparent-blackout');
  }

  &__item {
    position: relative;
    flex-basis: calc(100%-3 * 30px / 3);
  }

  &-images {
    display: flex;
    justify-content: space-between;
  }
}

.works__title,
.clients__title,
.team__title {
  margin-top: 0px;
  margin-bottom: 50px;
  color: getColor('title-text');
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
