$brand-color: #2196f3;
$button-color: #188ce8;
$portfolio-button-color: #f5f4fa;
$header-line-color: #ececec;
$button-close-border-color: rgba(0, 0, 0, 0.1);
$cards-border-color: #eeeeee;
$cards-overley-color: rgba(33, 150, 243, 0.9);
$hero-transparent-blackout-color: rgba(47, 48, 58, 0.4);
$works-transparent-blackout-color: rgba(47, 48, 58, 0.8);
$client-accent-color: rgba(175, 177, 184, 1);
$input-border-color: rgba(33, 33, 33, 0.2);
$footer-form-input-color: rgba(255, 255, 255, 0.3);
$label-footer-color: rgba(255, 255, 255, 0.6);

$basic-text-color: #757575;
$secondary-text-color: rgba(255, 255, 255, 0.6);
$title-text-color: #212121;
$logo-text-color: #000000;
$placeholder-text-color: rgba(117, 117, 117, 0.5);

$bcg-site-color: #ffffff;
$secondary-bcg-site-color: #2f303a;
$hero-bcg-color: #c4c4c4;
$team-bcg-color: #f5f4fa;
$link-bcg-color: rgba(255, 255, 255, 0.1);
$portfolio-bcg-color: #e5e5e5;
